src/main/resources/wsdl/FCUBSDEService.wsdl

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. 
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. 
-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://types.ws.gw.fcubs.ofss.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://types.ws.gw.fcubs.ofss.com" name="FCUBSDEService">
<types>
<xsd:schema>
<xsd:import namespace="http://fcubs.ofss.com/service/FCUBSDEService" schemaLocation="https://keusvvcfig2.dtbank.net:9012/FCUBSDEService/FCUBSDEService?xsd=1"/>
</xsd:schema>
</types>
<message name="AuthorizeMjrnlbookIO">
<part xmlns:ns1="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns1:AUTHORIZEMJRNLBOOK_IOPK_REQ"/>
</message>
<message name="AuthorizeMjrnlbookIOResponse">
<part xmlns:ns2="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns2:AUTHORIZEMJRNLBOOK_IOPK_RES"/>
</message>
<message name="AuthorizeSingleJrnlFS">
<part xmlns:ns3="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns3:AUTHORIZESINGLEJRNL_FSFS_REQ"/>
</message>
<message name="AuthorizeSingleJrnlFSResponse">
<part xmlns:ns4="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns4:AUTHORIZESINGLEJRNL_FSFS_RES"/>
</message>
<message name="AuthorizeMjrnlbookFS">
<part xmlns:ns5="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns5:AUTHORIZEMJRNLBOOK_FSFS_REQ"/>
</message>
<message name="AuthorizeMjrnlbookFSResponse">
<part xmlns:ns6="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns6:AUTHORIZEMJRNLBOOK_FSFS_RES"/>
</message>
<message name="AuthorizeSingleJrnlIO">
<part xmlns:ns7="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns7:AUTHORIZESINGLEJRNL_IOPK_REQ"/>
</message>
<message name="AuthorizeSingleJrnlIOResponse">
<part xmlns:ns8="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns8:AUTHORIZESINGLEJRNL_IOPK_RES"/>
</message>
<message name="AuthorizetellerFS">
<part xmlns:ns9="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns9:AUTHORIZETELLER_FSFS_REQ"/>
</message>
<message name="AuthorizetellerFSResponse">
<part xmlns:ns10="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns10:AUTHORIZETELLER_FSFS_RES"/>
</message>
<message name="AuthorizetellerIO">
<part xmlns:ns11="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns11:AUTHORIZETELLER_IOPK_REQ"/>
</message>
<message name="AuthorizetellerIOResponse">
<part xmlns:ns12="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns12:AUTHORIZETELLER_IOPK_RES"/>
</message>
<message name="BatchAuthorizeFS">
<part xmlns:ns13="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns13:BATCHAUTHORIZE_FSFS_REQ"/>
</message>
<message name="BatchAuthorizeFSResponse">
<part xmlns:ns14="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns14:BATCHAUTHORIZE_FSFS_RES"/>
</message>
<message name="BatchAuthorizeIO">
<part xmlns:ns15="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns15:BATCHAUTHORIZE_IOPK_REQ"/>
</message>
<message name="BatchAuthorizeIOResponse">
<part xmlns:ns16="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns16:BATCHAUTHORIZE_IOPK_RES"/>
</message>
<message name="BatchTotDeleteFS">
<part xmlns:ns17="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns17:BATCHTOTDELETE_FSFS_REQ"/>
</message>
<message name="BatchTotDeleteFSResponse">
<part xmlns:ns18="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns18:BATCHTOTDELETE_FSFS_RES"/>
</message>
<message name="BatchTotDeleteIO">
<part xmlns:ns19="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns19:BATCHTOTDELETE_IOPK_REQ"/>
</message>
<message name="BatchTotDeleteIOResponse">
<part xmlns:ns20="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns20:BATCHTOTDELETE_IOPK_RES"/>
</message>
<message name="CloseDEBranchRestIO">
<part xmlns:ns21="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns21:CLOSEDEBRANCHREST_IOPK_REQ"/>
</message>
<message name="CloseDEBranchRestIOResponse">
<part xmlns:ns22="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns22:CLOSEDEBRANCHREST_IOPK_RES"/>
</message>
<message name="CloseDEBranchRestFS">
<part xmlns:ns23="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns23:CLOSEDEBRANCHREST_FSFS_REQ"/>
</message>
<message name="CloseDEBranchRestFSResponse">
<part xmlns:ns24="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns24:CLOSEDEBRANCHREST_FSFS_RES"/>
</message>
<message name="CloseMjrnlTemplateFS">
<part xmlns:ns25="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns25:CLOSEMJRNLTEMPLATE_FSFS_REQ"/>
</message>
<message name="CloseMjrnlTemplateFSResponse">
<part xmlns:ns26="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns26:CLOSEMJRNLTEMPLATE_FSFS_RES"/>
</message>
<message name="CloseMjrnlTemplateIO">
<part xmlns:ns27="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns27:CLOSEMJRNLTEMPLATE_IOPK_REQ"/>
</message>
<message name="CloseMjrnlTemplateIOResponse">
<part xmlns:ns28="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns28:CLOSEMJRNLTEMPLATE_IOPK_RES"/>
</message>
<message name="CloseTellerFS">
<part xmlns:ns29="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns29:CLOSETELLER_FSFS_REQ"/>
</message>
<message name="CloseTellerFSResponse">
<part xmlns:ns30="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns30:CLOSETELLER_FSFS_RES"/>
</message>
<message name="CloseTellerIO">
<part xmlns:ns31="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns31:CLOSETELLER_IOPK_REQ"/>
</message>
<message name="CloseTellerIOResponse">
<part xmlns:ns32="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns32:CLOSETELLER_IOPK_RES"/>
</message>
<message name="CreateDEBranchRestFS">
<part xmlns:ns33="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns33:CREATEDEBRANCHREST_FSFS_REQ"/>
</message>
<message name="CreateDEBranchRestFSResponse">
<part xmlns:ns34="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns34:CREATEDEBRANCHREST_FSFS_RES"/>
</message>
<message name="AuthorizeDEBranchRestIO">
<part xmlns:ns35="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns35:AUTHORIZEDEBRANCHREST_IOPK_REQ"/>
</message>
<message name="AuthorizeDEBranchRestIOResponse">
<part xmlns:ns36="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns36:AUTHORIZEDEBRANCHREST_IOPK_RES"/>
</message>
<message name="AuthorizeDEBranchRestFS">
<part xmlns:ns37="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns37:AUTHORIZEDEBRANCHREST_FSFS_REQ"/>
</message>
<message name="AuthorizeDEBranchRestFSResponse">
<part xmlns:ns38="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns38:AUTHORIZEDEBRANCHREST_FSFS_RES"/>
</message>
<message name="AuthorizeDEDraftIssuerMaintFS">
<part xmlns:ns39="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns39:AUTHORIZEDEDRAFTISSUERMAINT_FSFS_REQ"/>
</message>
<message name="AuthorizeDEDraftIssuerMaintFSResponse">
<part xmlns:ns40="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns40:AUTHORIZEDEDRAFTISSUERMAINT_FSFS_RES"/>
</message>
<message name="AuthorizeDEDraftIssuerMaintIO">
<part xmlns:ns41="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns41:AUTHORIZEDEDRAFTISSUERMAINT_IOPK_REQ"/>
</message>
<message name="AuthorizeDEDraftIssuerMaintIOResponse">
<part xmlns:ns42="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns42:AUTHORIZEDEDRAFTISSUERMAINT_IOPK_RES"/>
</message>
<message name="AuthorizeMjrnlTemplateFS">
<part xmlns:ns43="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns43:AUTHORIZEMJRNLTEMPLATE_FSFS_REQ"/>
</message>
<message name="AuthorizeMjrnlTemplateFSResponse">
<part xmlns:ns44="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns44:AUTHORIZEMJRNLTEMPLATE_FSFS_RES"/>
</message>
<message name="AuthorizeMjrnlTemplateIO">
<part xmlns:ns45="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns45:AUTHORIZEMJRNLTEMPLATE_IOPK_REQ"/>
</message>
<message name="AuthorizeMjrnlTemplateIOResponse">
<part xmlns:ns46="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns46:AUTHORIZEMJRNLTEMPLATE_IOPK_RES"/>
</message>
<message name="CloseDEDraftIssuerMaintFS">
<part xmlns:ns47="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns47:CLOSEDEDRAFTISSUERMAINT_FSFS_REQ"/>
</message>
<message name="CloseDEDraftIssuerMaintFSResponse">
<part xmlns:ns48="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns48:CLOSEDEDRAFTISSUERMAINT_FSFS_RES"/>
</message>
<message name="CloseDEDraftIssuerMaintIO">
<part xmlns:ns49="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns49:CLOSEDEDRAFTISSUERMAINT_IOPK_REQ"/>
</message>
<message name="CloseDEDraftIssuerMaintIOResponse">
<part xmlns:ns50="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns50:CLOSEDEDRAFTISSUERMAINT_IOPK_RES"/>
</message>
<message name="CreateDEDraftIssuerMaintFS">
<part xmlns:ns51="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns51:CREATEDEDRAFTISSUERMAINT_FSFS_REQ"/>
</message>
<message name="CreateDEDraftIssuerMaintFSResponse">
<part xmlns:ns52="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns52:CREATEDEDRAFTISSUERMAINT_FSFS_RES"/>
</message>
<message name="CreateDEDraftIssuerMaintIO">
<part xmlns:ns53="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns53:CREATEDEDRAFTISSUERMAINT_IOPK_REQ"/>
</message>
<message name="CreateDEDraftIssuerMaintIOResponse">
<part xmlns:ns54="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns54:CREATEDEDRAFTISSUERMAINT_IOPK_RES"/>
</message>
<message name="DeleteDEDraftIssuerMaintFS">
<part xmlns:ns55="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns55:DELETEDEDRAFTISSUERMAINT_FSFS_REQ"/>
</message>
<message name="DeleteDEDraftIssuerMaintFSResponse">
<part xmlns:ns56="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns56:DELETEDEDRAFTISSUERMAINT_FSFS_RES"/>
</message>
<message name="DeleteDEDraftIssuerMaintIO">
<part xmlns:ns57="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns57:DELETEDEDRAFTISSUERMAINT_IOPK_REQ"/>
</message>
<message name="DeleteDEDraftIssuerMaintIOResponse">
<part xmlns:ns58="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns58:DELETEDEDRAFTISSUERMAINT_IOPK_RES"/>
</message>
<message name="ModifyDEDraftIssuerMaintFS">
<part xmlns:ns59="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns59:MODIFYDEDRAFTISSUERMAINT_FSFS_REQ"/>
</message>
<message name="ModifyDEDraftIssuerMaintFSResponse">
<part xmlns:ns60="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns60:MODIFYDEDRAFTISSUERMAINT_FSFS_RES"/>
</message>
<message name="ModifyDEDraftIssuerMaintIO">
<part xmlns:ns61="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns61:MODIFYDEDRAFTISSUERMAINT_IOPK_REQ"/>
</message>
<message name="ModifyDEDraftIssuerMaintIOResponse">
<part xmlns:ns62="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns62:MODIFYDEDRAFTISSUERMAINT_IOPK_RES"/>
</message>
<message name="ReopenDEDraftIssuerMaintFS">
<part xmlns:ns63="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns63:REOPENDEDRAFTISSUERMAINT_FSFS_REQ"/>
</message>
<message name="ReopenDEDraftIssuerMaintFSResponse">
<part xmlns:ns64="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns64:REOPENDEDRAFTISSUERMAINT_FSFS_RES"/>
</message>
<message name="ReopenDEDraftIssuerMaintIO">
<part xmlns:ns65="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns65:REOPENDEDRAFTISSUERMAINT_IOPK_REQ"/>
</message>
<message name="ReopenDEDraftIssuerMaintIOResponse">
<part xmlns:ns66="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns66:REOPENDEDRAFTISSUERMAINT_IOPK_RES"/>
</message>
<message name="ReverseCommonReversalFS">
<part xmlns:ns67="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns67:REVERSECOMMONREVERSAL_FSFS_REQ"/>
</message>
<message name="ReverseCommonReversalFSResponse">
<part xmlns:ns68="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns68:REVERSECOMMONREVERSAL_FSFS_RES"/>
</message>
<message name="ReverseCommonReversalIO">
<part xmlns:ns69="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns69:REVERSECOMMONREVERSAL_IOPK_REQ"/>
</message>
<message name="ReverseCommonReversalIOResponse">
<part xmlns:ns70="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns70:REVERSECOMMONREVERSAL_IOPK_RES"/>
</message>
<message name="CreateDEBranchRestIO">
<part xmlns:ns71="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns71:CREATEDEBRANCHREST_IOPK_REQ"/>
</message>
<message name="CreateDEBranchRestIOResponse">
<part xmlns:ns72="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns72:CREATEDEBRANCHREST_IOPK_RES"/>
</message>
<message name="CreateMjrnlTemplateFS">
<part xmlns:ns73="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns73:CREATEMJRNLTEMPLATE_FSFS_REQ"/>
</message>
<message name="CreateMjrnlTemplateFSResponse">
<part xmlns:ns74="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns74:CREATEMJRNLTEMPLATE_FSFS_RES"/>
</message>
<message name="CreateMjrnlTemplateIO">
<part xmlns:ns75="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns75:CREATEMJRNLTEMPLATE_IOPK_REQ"/>
</message>
<message name="CreateMjrnlTemplateIOResponse">
<part xmlns:ns76="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns76:CREATEMJRNLTEMPLATE_IOPK_RES"/>
</message>
<message name="CreateMjrnlbookFS">
<part xmlns:ns77="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns77:CREATEMJRNLBOOK_FSFS_REQ"/>
</message>
<message name="CreateMjrnlbookFSResponse">
<part xmlns:ns78="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns78:CREATEMJRNLBOOK_FSFS_RES"/>
</message>
<message name="CreateMjrnlbookIO">
<part xmlns:ns79="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns79:CREATEMJRNLBOOK_IOPK_REQ"/>
</message>
<message name="CreateMjrnlbookIOResponse">
<part xmlns:ns80="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns80:CREATEMJRNLBOOK_IOPK_RES"/>
</message>
<message name="CreateSingleJrnlFS">
<part xmlns:ns81="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns81:CREATESINGLEJRNL_FSFS_REQ"/>
</message>
<message name="CreateSingleJrnlFSResponse">
<part xmlns:ns82="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns82:CREATESINGLEJRNL_FSFS_RES"/>
</message>
<message name="CreateSingleJrnlIO">
<part xmlns:ns83="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns83:CREATESINGLEJRNL_IOPK_REQ"/>
</message>
<message name="CreateSingleJrnlIOResponse">
<part xmlns:ns84="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns84:CREATESINGLEJRNL_IOPK_RES"/>
</message>
<message name="CreateTellerFS">
<part xmlns:ns85="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns85:CREATETELLER_FSFS_REQ"/>
</message>
<message name="CreateTellerFSResponse">
<part xmlns:ns86="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns86:CREATETELLER_FSFS_RES"/>
</message>
<message name="CreateTellerIO">
<part xmlns:ns87="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns87:CREATETELLER_IOPK_REQ"/>
</message>
<message name="CreateTellerIOResponse">
<part xmlns:ns88="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns88:CREATETELLER_IOPK_RES"/>
</message>
<message name="DeleteDEBranchRestFS">
<part xmlns:ns89="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns89:DELETEDEBRANCHREST_FSFS_REQ"/>
</message>
<message name="DeleteDEBranchRestFSResponse">
<part xmlns:ns90="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns90:DELETEDEBRANCHREST_FSFS_RES"/>
</message>
<message name="DeleteDEBranchRestIO">
<part xmlns:ns91="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns91:DELETEDEBRANCHREST_IOPK_REQ"/>
</message>
<message name="DeleteDEBranchRestIOResponse">
<part xmlns:ns92="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns92:DELETEDEBRANCHREST_IOPK_RES"/>
</message>
<message name="DeleteMjrnlTemplateFS">
<part xmlns:ns93="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns93:DELETEMJRNLTEMPLATE_FSFS_REQ"/>
</message>
<message name="DeleteMjrnlTemplateFSResponse">
<part xmlns:ns94="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns94:DELETEMJRNLTEMPLATE_FSFS_RES"/>
</message>
<message name="DeleteMjrnlTemplateIO">
<part xmlns:ns95="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns95:DELETEMJRNLTEMPLATE_IOPK_REQ"/>
</message>
<message name="DeleteMjrnlTemplateIOResponse">
<part xmlns:ns96="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns96:DELETEMJRNLTEMPLATE_IOPK_RES"/>
</message>
<message name="DeleteMjrnlbookIO">
<part xmlns:ns97="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns97:DELETEMJRNLBOOK_IOPK_REQ"/>
</message>
<message name="DeleteMjrnlbookIOResponse">
<part xmlns:ns98="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns98:DELETEMJRNLBOOK_IOPK_RES"/>
</message>
<message name="DeleteMjrnlbookFS">
<part xmlns:ns99="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns99:DELETEMJRNLBOOK_FSFS_REQ"/>
</message>
<message name="DeleteMjrnlbookFSResponse">
<part xmlns:ns100="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns100:DELETEMJRNLBOOK_FSFS_RES"/>
</message>
<message name="DeleteSingleJrnlFS">
<part xmlns:ns101="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns101:DELETESINGLEJRNL_FSFS_REQ"/>
</message>
<message name="DeleteSingleJrnlFSResponse">
<part xmlns:ns102="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns102:DELETESINGLEJRNL_FSFS_RES"/>
</message>
<message name="DeleteSingleJrnlIO">
<part xmlns:ns103="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns103:DELETESINGLEJRNL_IOPK_REQ"/>
</message>
<message name="DeleteSingleJrnlIOResponse">
<part xmlns:ns104="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns104:DELETESINGLEJRNL_IOPK_RES"/>
</message>
<message name="DeleteTellerFS">
<part xmlns:ns105="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns105:DELETETELLER_FSFS_REQ"/>
</message>
<message name="DeleteTellerFSResponse">
<part xmlns:ns106="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns106:DELETETELLER_FSFS_RES"/>
</message>
<message name="DeleteTellerIO">
<part xmlns:ns107="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns107:DELETETELLER_IOPK_REQ"/>
</message>
<message name="DeleteTellerIOResponse">
<part xmlns:ns108="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns108:DELETETELLER_IOPK_RES"/>
</message>
<message name="ModifyDEBranchRestFS">
<part xmlns:ns109="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns109:MODIFYDEBRANCHREST_FSFS_REQ"/>
</message>
<message name="ModifyDEBranchRestFSResponse">
<part xmlns:ns110="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns110:MODIFYDEBRANCHREST_FSFS_RES"/>
</message>
<message name="ModifyDEBranchRestIO">
<part xmlns:ns111="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns111:MODIFYDEBRANCHREST_IOPK_REQ"/>
</message>
<message name="ModifyDEBranchRestIOResponse">
<part xmlns:ns112="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns112:MODIFYDEBRANCHREST_IOPK_RES"/>
</message>
<message name="ModifyMjrnlTemplateFS">
<part xmlns:ns113="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns113:MODIFYMJRNLTEMPLATE_FSFS_REQ"/>
</message>
<message name="ModifyMjrnlTemplateFSResponse">
<part xmlns:ns114="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns114:MODIFYMJRNLTEMPLATE_FSFS_RES"/>
</message>
<message name="ModifyMjrnlTemplateIO">
<part xmlns:ns115="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns115:MODIFYMJRNLTEMPLATE_IOPK_REQ"/>
</message>
<message name="ModifyMjrnlTemplateIOResponse">
<part xmlns:ns116="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns116:MODIFYMJRNLTEMPLATE_IOPK_RES"/>
</message>
<message name="ModifyMjrnlbookFS">
<part xmlns:ns117="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns117:MODIFYMJRNLBOOK_FSFS_REQ"/>
</message>
<message name="ModifyMjrnlbookFSResponse">
<part xmlns:ns118="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns118:MODIFYMJRNLBOOK_FSFS_RES"/>
</message>
<message name="ModifyMjrnlbookIO">
<part xmlns:ns119="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns119:MODIFYMJRNLBOOK_IOPK_REQ"/>
</message>
<message name="ModifyMjrnlbookIOResponse">
<part xmlns:ns120="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns120:MODIFYMJRNLBOOK_IOPK_RES"/>
</message>
<message name="ModifyTellerFS">
<part xmlns:ns121="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns121:MODIFYTELLER_FSFS_REQ"/>
</message>
<message name="ModifyTellerFSResponse">
<part xmlns:ns122="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns122:MODIFYTELLER_FSFS_RES"/>
</message>
<message name="ModifyTellerIO">
<part xmlns:ns123="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns123:MODIFYTELLER_IOPK_REQ"/>
</message>
<message name="ModifyTellerIOResponse">
<part xmlns:ns124="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns124:MODIFYTELLER_IOPK_RES"/>
</message>
<message name="MultiAuthorizeFS">
<part xmlns:ns125="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns125:MULTIAUTHORIZE_FSFS_REQ"/>
</message>
<message name="MultiAuthorizeFSResponse">
<part xmlns:ns126="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns126:MULTIAUTHORIZE_FSFS_RES"/>
</message>
<message name="MultiAuthorizeIO">
<part xmlns:ns127="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns127:MULTIAUTHORIZE_IOPK_REQ"/>
</message>
<message name="MultiAuthorizeIOResponse">
<part xmlns:ns128="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns128:MULTIAUTHORIZE_IOPK_RES"/>
</message>
<message name="MultiDeleteFS">
<part xmlns:ns129="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns129:MULTIDELETE_FSFS_REQ"/>
</message>
<message name="MultiDeleteFSResponse">
<part xmlns:ns130="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns130:MULTIDELETE_FSFS_RES"/>
</message>
<message name="MultiDeleteIO">
<part xmlns:ns131="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns131:MULTIDELETE_IOPK_REQ"/>
</message>
<message name="MultiDeleteIOResponse">
<part xmlns:ns132="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns132:MULTIDELETE_IOPK_RES"/>
</message>
<message name="MultiNewFS">
<part xmlns:ns133="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns133:MULTINEW_FSFS_REQ"/>
</message>
<message name="MultiNewFSResponse">
<part xmlns:ns134="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns134:MULTINEW_FSFS_RES"/>
</message>
<message name="MultiNewIO">
<part xmlns:ns135="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns135:MULTINEW_IOPK_REQ"/>
</message>
<message name="MultiNewIOResponse">
<part xmlns:ns136="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns136:MULTINEW_IOPK_RES"/>
</message>
<message name="QueryDEBatchBrowserIO">
<part xmlns:ns137="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns137:QUERYDEBATCHBROWSER_IOFS_REQ"/>
</message>
<message name="QueryDEBatchBrowserIOResponse">
<part xmlns:ns138="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns138:QUERYDEBATCHBROWSER_IOFS_RES"/>
</message>
<message name="QueryDEBranchRestIO">
<part xmlns:ns139="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns139:QUERYDEBRANCHREST_IOFS_REQ"/>
</message>
<message name="QueryDEBranchRestIOResponse">
<part xmlns:ns140="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns140:QUERYDEBRANCHREST_IOFS_RES"/>
</message>
<message name="QueryMjrnlTemplateIO">
<part xmlns:ns141="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns141:QUERYMJRNLTEMPLATE_IOFS_REQ"/>
</message>
<message name="QueryMjrnlTemplateIOResponse">
<part xmlns:ns142="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns142:QUERYMJRNLTEMPLATE_IOFS_RES"/>
</message>
<message name="QueryMjrnlbookIO">
<part xmlns:ns143="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns143:QUERYMJRNLBOOK_IOFS_REQ"/>
</message>
<message name="QueryMjrnlbookIOResponse">
<part xmlns:ns144="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns144:QUERYMJRNLBOOK_IOFS_RES"/>
</message>
<message name="QuerySingleJrnlIO">
<part xmlns:ns145="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns145:QUERYSINGLEJRNL_IOFS_REQ"/>
</message>
<message name="QuerySingleJrnlIOResponse">
<part xmlns:ns146="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns146:QUERYSINGLEJRNL_IOFS_RES"/>
</message>
<message name="QueryTellerIO">
<part xmlns:ns147="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns147:QUERYTELLER_IOFS_REQ"/>
</message>
<message name="QueryTellerIOResponse">
<part xmlns:ns148="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns148:QUERYTELLER_IOFS_RES"/>
</message>
<message name="ReopenDEBranchRestFS">
<part xmlns:ns149="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns149:REOPENDEBRANCHREST_FSFS_REQ"/>
</message>
<message name="ReopenDEBranchRestFSResponse">
<part xmlns:ns150="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns150:REOPENDEBRANCHREST_FSFS_RES"/>
</message>
<message name="ReopenDEBranchRestIO">
<part xmlns:ns151="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns151:REOPENDEBRANCHREST_IOPK_REQ"/>
</message>
<message name="ReopenDEBranchRestIOResponse">
<part xmlns:ns152="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns152:REOPENDEBRANCHREST_IOPK_RES"/>
</message>
<message name="ReopenTellerFS">
<part xmlns:ns153="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns153:REOPENTELLER_FSFS_REQ"/>
</message>
<message name="ReopenTellerFSResponse">
<part xmlns:ns154="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns154:REOPENTELLER_FSFS_RES"/>
</message>
<message name="ReopenTellerIO">
<part xmlns:ns155="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns155:REOPENTELLER_IOPK_REQ"/>
</message>
<message name="ReopenTellerIOResponse">
<part xmlns:ns156="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns156:REOPENTELLER_IOPK_RES"/>
</message>
<message name="ReverseTellerIO">
<part xmlns:ns157="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns157:REVERSETELLER_IOPK_REQ"/>
</message>
<message name="ReverseTellerIOResponse">
<part xmlns:ns158="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns158:REVERSETELLER_IOPK_RES"/>
</message>
<message name="ReverseTellerFS">
<part xmlns:ns159="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns159:REVERSETELLER_FSFS_REQ"/>
</message>
<message name="ReverseTellerFSResponse">
<part xmlns:ns160="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns160:REVERSETELLER_FSFS_RES"/>
</message>
<message name="SingleAuthorizeFS">
<part xmlns:ns161="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns161:SINGLEAUTHORIZE_FSFS_REQ"/>
</message>
<message name="SingleAuthorizeFSResponse">
<part xmlns:ns162="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns162:SINGLEAUTHORIZE_FSFS_RES"/>
</message>
<message name="SingleAuthorizeIO">
<part xmlns:ns163="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns163:SINGLEAUTHORIZE_IOPK_REQ"/>
</message>
<message name="SingleAuthorizeIOResponse">
<part xmlns:ns164="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns164:SINGLEAUTHORIZE_IOPK_RES"/>
</message>
<message name="SingleDeleteFS">
<part xmlns:ns165="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns165:SINGLEDELETE_FSFS_REQ"/>
</message>
<message name="SingleDeleteFSResponse">
<part xmlns:ns166="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns166:SINGLEDELETE_FSFS_RES"/>
</message>
<message name="SingleDeleteIO">
<part xmlns:ns167="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns167:SINGLEDELETE_IOPK_REQ"/>
</message>
<message name="SingleDeleteIOResponse">
<part xmlns:ns168="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns168:SINGLEDELETE_IOPK_RES"/>
</message>
<message name="SingleNewFS">
<part xmlns:ns169="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns169:SINGLENEW_FSFS_REQ"/>
</message>
<message name="SingleNewFSResponse">
<part xmlns:ns170="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns170:SINGLENEW_FSFS_RES"/>
</message>
<message name="SingleNewIO">
<part xmlns:ns171="http://fcubs.ofss.com/service/FCUBSDEService" name="RequestMsg" element="ns171:SINGLENEW_IOPK_REQ"/>
</message>
<message name="SingleNewIOResponse">
<part xmlns:ns172="http://fcubs.ofss.com/service/FCUBSDEService" name="ResponseMsg" element="ns172:SINGLENEW_IOPK_RES"/>
</message>
<portType name="FCUBSDEServiceSEI">
<operation name="AuthorizeMjrnlbookIO">
<input message="tns:AuthorizeMjrnlbookIO"/>
<output message="tns:AuthorizeMjrnlbookIOResponse"/>
</operation>
<operation name="AuthorizeSingleJrnlFS">
<input message="tns:AuthorizeSingleJrnlFS"/>
<output message="tns:AuthorizeSingleJrnlFSResponse"/>
</operation>
<operation name="AuthorizeMjrnlbookFS">
<input message="tns:AuthorizeMjrnlbookFS"/>
<output message="tns:AuthorizeMjrnlbookFSResponse"/>
</operation>
<operation name="AuthorizeSingleJrnlIO">
<input message="tns:AuthorizeSingleJrnlIO"/>
<output message="tns:AuthorizeSingleJrnlIOResponse"/>
</operation>
<operation name="AuthorizetellerFS">
<input message="tns:AuthorizetellerFS"/>
<output message="tns:AuthorizetellerFSResponse"/>
</operation>
<operation name="AuthorizetellerIO">
<input message="tns:AuthorizetellerIO"/>
<output message="tns:AuthorizetellerIOResponse"/>
</operation>
<operation name="BatchAuthorizeFS">
<input message="tns:BatchAuthorizeFS"/>
<output message="tns:BatchAuthorizeFSResponse"/>
</operation>
<operation name="BatchAuthorizeIO">
<input message="tns:BatchAuthorizeIO"/>
<output message="tns:BatchAuthorizeIOResponse"/>
</operation>
<operation name="BatchTotDeleteFS">
<input message="tns:BatchTotDeleteFS"/>
<output message="tns:BatchTotDeleteFSResponse"/>
</operation>
<operation name="BatchTotDeleteIO">
<input message="tns:BatchTotDeleteIO"/>
<output message="tns:BatchTotDeleteIOResponse"/>
</operation>
<operation name="CloseDEBranchRestIO">
<input message="tns:CloseDEBranchRestIO"/>
<output message="tns:CloseDEBranchRestIOResponse"/>
</operation>
<operation name="CloseDEBranchRestFS">
<input message="tns:CloseDEBranchRestFS"/>
<output message="tns:CloseDEBranchRestFSResponse"/>
</operation>
<operation name="CloseMjrnlTemplateFS">
<input message="tns:CloseMjrnlTemplateFS"/>
<output message="tns:CloseMjrnlTemplateFSResponse"/>
</operation>
<operation name="CloseMjrnlTemplateIO">
<input message="tns:CloseMjrnlTemplateIO"/>
<output message="tns:CloseMjrnlTemplateIOResponse"/>
</operation>
<operation name="CloseTellerFS">
<input message="tns:CloseTellerFS"/>
<output message="tns:CloseTellerFSResponse"/>
</operation>
<operation name="CloseTellerIO">
<input message="tns:CloseTellerIO"/>
<output message="tns:CloseTellerIOResponse"/>
</operation>
<operation name="CreateDEBranchRestFS">
<input message="tns:CreateDEBranchRestFS"/>
<output message="tns:CreateDEBranchRestFSResponse"/>
</operation>
<operation name="AuthorizeDEBranchRestIO">
<input message="tns:AuthorizeDEBranchRestIO"/>
<output message="tns:AuthorizeDEBranchRestIOResponse"/>
</operation>
<operation name="AuthorizeDEBranchRestFS">
<input message="tns:AuthorizeDEBranchRestFS"/>
<output message="tns:AuthorizeDEBranchRestFSResponse"/>
</operation>
<operation name="AuthorizeDEDraftIssuerMaintFS">
<input message="tns:AuthorizeDEDraftIssuerMaintFS"/>
<output message="tns:AuthorizeDEDraftIssuerMaintFSResponse"/>
</operation>
<operation name="AuthorizeDEDraftIssuerMaintIO">
<input message="tns:AuthorizeDEDraftIssuerMaintIO"/>
<output message="tns:AuthorizeDEDraftIssuerMaintIOResponse"/>
</operation>
<operation name="AuthorizeMjrnlTemplateFS">
<input message="tns:AuthorizeMjrnlTemplateFS"/>
<output message="tns:AuthorizeMjrnlTemplateFSResponse"/>
</operation>
<operation name="AuthorizeMjrnlTemplateIO">
<input message="tns:AuthorizeMjrnlTemplateIO"/>
<output message="tns:AuthorizeMjrnlTemplateIOResponse"/>
</operation>
<operation name="CloseDEDraftIssuerMaintFS">
<input message="tns:CloseDEDraftIssuerMaintFS"/>
<output message="tns:CloseDEDraftIssuerMaintFSResponse"/>
</operation>
<operation name="CloseDEDraftIssuerMaintIO">
<input message="tns:CloseDEDraftIssuerMaintIO"/>
<output message="tns:CloseDEDraftIssuerMaintIOResponse"/>
</operation>
<operation name="CreateDEDraftIssuerMaintFS">
<input message="tns:CreateDEDraftIssuerMaintFS"/>
<output message="tns:CreateDEDraftIssuerMaintFSResponse"/>
</operation>
<operation name="CreateDEDraftIssuerMaintIO">
<input message="tns:CreateDEDraftIssuerMaintIO"/>
<output message="tns:CreateDEDraftIssuerMaintIOResponse"/>
</operation>
<operation name="DeleteDEDraftIssuerMaintFS">
<input message="tns:DeleteDEDraftIssuerMaintFS"/>
<output message="tns:DeleteDEDraftIssuerMaintFSResponse"/>
</operation>
<operation name="DeleteDEDraftIssuerMaintIO">
<input message="tns:DeleteDEDraftIssuerMaintIO"/>
<output message="tns:DeleteDEDraftIssuerMaintIOResponse"/>
</operation>
<operation name="ModifyDEDraftIssuerMaintFS">
<input message="tns:ModifyDEDraftIssuerMaintFS"/>
<output message="tns:ModifyDEDraftIssuerMaintFSResponse"/>
</operation>
<operation name="ModifyDEDraftIssuerMaintIO">
<input message="tns:ModifyDEDraftIssuerMaintIO"/>
<output message="tns:ModifyDEDraftIssuerMaintIOResponse"/>
</operation>
<operation name="ReopenDEDraftIssuerMaintFS">
<input message="tns:ReopenDEDraftIssuerMaintFS"/>
<output message="tns:ReopenDEDraftIssuerMaintFSResponse"/>
</operation>
<operation name="ReopenDEDraftIssuerMaintIO">
<input message="tns:ReopenDEDraftIssuerMaintIO"/>
<output message="tns:ReopenDEDraftIssuerMaintIOResponse"/>
</operation>
<operation name="ReverseCommonReversalFS">
<input message="tns:ReverseCommonReversalFS"/>
<output message="tns:ReverseCommonReversalFSResponse"/>
</operation>
<operation name="ReverseCommonReversalIO">
<input message="tns:ReverseCommonReversalIO"/>
<output message="tns:ReverseCommonReversalIOResponse"/>
</operation>
<operation name="CreateDEBranchRestIO">
<input message="tns:CreateDEBranchRestIO"/>
<output message="tns:CreateDEBranchRestIOResponse"/>
</operation>
<operation name="CreateMjrnlTemplateFS">
<input message="tns:CreateMjrnlTemplateFS"/>
<output message="tns:CreateMjrnlTemplateFSResponse"/>
</operation>
<operation name="CreateMjrnlTemplateIO">
<input message="tns:CreateMjrnlTemplateIO"/>
<output message="tns:CreateMjrnlTemplateIOResponse"/>
</operation>
<operation name="CreateMjrnlbookFS">
<input message="tns:CreateMjrnlbookFS"/>
<output message="tns:CreateMjrnlbookFSResponse"/>
</operation>
<operation name="CreateMjrnlbookIO">
<input message="tns:CreateMjrnlbookIO"/>
<output message="tns:CreateMjrnlbookIOResponse"/>
</operation>
<operation name="CreateSingleJrnlFS">
<input message="tns:CreateSingleJrnlFS"/>
<output message="tns:CreateSingleJrnlFSResponse"/>
</operation>
<operation name="CreateSingleJrnlIO">
<input message="tns:CreateSingleJrnlIO"/>
<output message="tns:CreateSingleJrnlIOResponse"/>
</operation>
<operation name="CreateTellerFS">
<input message="tns:CreateTellerFS"/>
<output message="tns:CreateTellerFSResponse"/>
</operation>
<operation name="CreateTellerIO">
<input message="tns:CreateTellerIO"/>
<output message="tns:CreateTellerIOResponse"/>
</operation>
<operation name="DeleteDEBranchRestFS">
<input message="tns:DeleteDEBranchRestFS"/>
<output message="tns:DeleteDEBranchRestFSResponse"/>
</operation>
<operation name="DeleteDEBranchRestIO">
<input message="tns:DeleteDEBranchRestIO"/>
<output message="tns:DeleteDEBranchRestIOResponse"/>
</operation>
<operation name="DeleteMjrnlTemplateFS">
<input message="tns:DeleteMjrnlTemplateFS"/>
<output message="tns:DeleteMjrnlTemplateFSResponse"/>
</operation>
<operation name="DeleteMjrnlTemplateIO">
<input message="tns:DeleteMjrnlTemplateIO"/>
<output message="tns:DeleteMjrnlTemplateIOResponse"/>
</operation>
<operation name="DeleteMjrnlbookIO">
<input message="tns:DeleteMjrnlbookIO"/>
<output message="tns:DeleteMjrnlbookIOResponse"/>
</operation>
<operation name="DeleteMjrnlbookFS">
<input message="tns:DeleteMjrnlbookFS"/>
<output message="tns:DeleteMjrnlbookFSResponse"/>
</operation>
<operation name="DeleteSingleJrnlFS">
<input message="tns:DeleteSingleJrnlFS"/>
<output message="tns:DeleteSingleJrnlFSResponse"/>
</operation>
<operation name="DeleteSingleJrnlIO">
<input message="tns:DeleteSingleJrnlIO"/>
<output message="tns:DeleteSingleJrnlIOResponse"/>
</operation>
<operation name="DeleteTellerFS">
<input message="tns:DeleteTellerFS"/>
<output message="tns:DeleteTellerFSResponse"/>
</operation>
<operation name="DeleteTellerIO">
<input message="tns:DeleteTellerIO"/>
<output message="tns:DeleteTellerIOResponse"/>
</operation>
<operation name="ModifyDEBranchRestFS">
<input message="tns:ModifyDEBranchRestFS"/>
<output message="tns:ModifyDEBranchRestFSResponse"/>
</operation>
<operation name="ModifyDEBranchRestIO">
<input message="tns:ModifyDEBranchRestIO"/>
<output message="tns:ModifyDEBranchRestIOResponse"/>
</operation>
<operation name="ModifyMjrnlTemplateFS">
<input message="tns:ModifyMjrnlTemplateFS"/>
<output message="tns:ModifyMjrnlTemplateFSResponse"/>
</operation>
<operation name="ModifyMjrnlTemplateIO">
<input message="tns:ModifyMjrnlTemplateIO"/>
<output message="tns:ModifyMjrnlTemplateIOResponse"/>
</operation>
<operation name="ModifyMjrnlbookFS">
<input message="tns:ModifyMjrnlbookFS"/>
<output message="tns:ModifyMjrnlbookFSResponse"/>
</operation>
<operation name="ModifyMjrnlbookIO">
<input message="tns:ModifyMjrnlbookIO"/>
<output message="tns:ModifyMjrnlbookIOResponse"/>
</operation>
<operation name="ModifyTellerFS">
<input message="tns:ModifyTellerFS"/>
<output message="tns:ModifyTellerFSResponse"/>
</operation>
<operation name="ModifyTellerIO">
<input message="tns:ModifyTellerIO"/>
<output message="tns:ModifyTellerIOResponse"/>
</operation>
<operation name="MultiAuthorizeFS">
<input message="tns:MultiAuthorizeFS"/>
<output message="tns:MultiAuthorizeFSResponse"/>
</operation>
<operation name="MultiAuthorizeIO">
<input message="tns:MultiAuthorizeIO"/>
<output message="tns:MultiAuthorizeIOResponse"/>
</operation>
<operation name="MultiDeleteFS">
<input message="tns:MultiDeleteFS"/>
<output message="tns:MultiDeleteFSResponse"/>
</operation>
<operation name="MultiDeleteIO">
<input message="tns:MultiDeleteIO"/>
<output message="tns:MultiDeleteIOResponse"/>
</operation>
<operation name="MultiNewFS">
<input message="tns:MultiNewFS"/>
<output message="tns:MultiNewFSResponse"/>
</operation>
<operation name="MultiNewIO">
<input message="tns:MultiNewIO"/>
<output message="tns:MultiNewIOResponse"/>
</operation>
<operation name="QueryDEBatchBrowserIO">
<input message="tns:QueryDEBatchBrowserIO"/>
<output message="tns:QueryDEBatchBrowserIOResponse"/>
</operation>
<operation name="QueryDEBranchRestIO">
<input message="tns:QueryDEBranchRestIO"/>
<output message="tns:QueryDEBranchRestIOResponse"/>
</operation>
<operation name="QueryMjrnlTemplateIO">
<input message="tns:QueryMjrnlTemplateIO"/>
<output message="tns:QueryMjrnlTemplateIOResponse"/>
</operation>
<operation name="QueryMjrnlbookIO">
<input message="tns:QueryMjrnlbookIO"/>
<output message="tns:QueryMjrnlbookIOResponse"/>
</operation>
<operation name="QuerySingleJrnlIO">
<input message="tns:QuerySingleJrnlIO"/>
<output message="tns:QuerySingleJrnlIOResponse"/>
</operation>
<operation name="QueryTellerIO">
<input message="tns:QueryTellerIO"/>
<output message="tns:QueryTellerIOResponse"/>
</operation>
<operation name="ReopenDEBranchRestFS">
<input message="tns:ReopenDEBranchRestFS"/>
<output message="tns:ReopenDEBranchRestFSResponse"/>
</operation>
<operation name="ReopenDEBranchRestIO">
<input message="tns:ReopenDEBranchRestIO"/>
<output message="tns:ReopenDEBranchRestIOResponse"/>
</operation>
<operation name="ReopenTellerFS">
<input message="tns:ReopenTellerFS"/>
<output message="tns:ReopenTellerFSResponse"/>
</operation>
<operation name="ReopenTellerIO">
<input message="tns:ReopenTellerIO"/>
<output message="tns:ReopenTellerIOResponse"/>
</operation>
<operation name="ReverseTellerIO">
<input message="tns:ReverseTellerIO"/>
<output message="tns:ReverseTellerIOResponse"/>
</operation>
<operation name="ReverseTellerFS">
<input message="tns:ReverseTellerFS"/>
<output message="tns:ReverseTellerFSResponse"/>
</operation>
<operation name="SingleAuthorizeFS">
<input message="tns:SingleAuthorizeFS"/>
<output message="tns:SingleAuthorizeFSResponse"/>
</operation>
<operation name="SingleAuthorizeIO">
<input message="tns:SingleAuthorizeIO"/>
<output message="tns:SingleAuthorizeIOResponse"/>
</operation>
<operation name="SingleDeleteFS">
<input message="tns:SingleDeleteFS"/>
<output message="tns:SingleDeleteFSResponse"/>
</operation>
<operation name="SingleDeleteIO">
<input message="tns:SingleDeleteIO"/>
<output message="tns:SingleDeleteIOResponse"/>
</operation>
<operation name="SingleNewFS">
<input message="tns:SingleNewFS"/>
<output message="tns:SingleNewFSResponse"/>
</operation>
<operation name="SingleNewIO">
<input message="tns:SingleNewIO"/>
<output message="tns:SingleNewIOResponse"/>
</operation>
</portType>
<binding name="FCUBSDEServiceSEIBinding" type="tns:FCUBSDEServiceSEI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AuthorizeMjrnlbookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeSingleJrnlFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeMjrnlbookFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeSingleJrnlIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizetellerFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizetellerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BatchAuthorizeFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BatchAuthorizeIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BatchTotDeleteFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BatchTotDeleteIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseDEBranchRestIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseDEBranchRestFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseMjrnlTemplateFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseMjrnlTemplateIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseTellerFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseTellerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateDEBranchRestFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeDEBranchRestIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeDEBranchRestFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeDEDraftIssuerMaintFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeDEDraftIssuerMaintIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeMjrnlTemplateFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeMjrnlTemplateIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseDEDraftIssuerMaintFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseDEDraftIssuerMaintIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateDEDraftIssuerMaintFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateDEDraftIssuerMaintIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteDEDraftIssuerMaintFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteDEDraftIssuerMaintIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyDEDraftIssuerMaintFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyDEDraftIssuerMaintIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenDEDraftIssuerMaintFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenDEDraftIssuerMaintIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseCommonReversalFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseCommonReversalIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateDEBranchRestIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateMjrnlTemplateFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateMjrnlTemplateIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateMjrnlbookFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateMjrnlbookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateSingleJrnlFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateSingleJrnlIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTellerFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTellerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteDEBranchRestFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteDEBranchRestIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteMjrnlTemplateFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteMjrnlTemplateIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteMjrnlbookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteMjrnlbookFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteSingleJrnlFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteSingleJrnlIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteTellerFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteTellerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyDEBranchRestFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyDEBranchRestIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyMjrnlTemplateFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyMjrnlTemplateIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyMjrnlbookFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyMjrnlbookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyTellerFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyTellerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MultiAuthorizeFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MultiAuthorizeIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MultiDeleteFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MultiDeleteIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MultiNewFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MultiNewIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryDEBatchBrowserIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryDEBranchRestIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryMjrnlTemplateIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryMjrnlbookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QuerySingleJrnlIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryTellerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenDEBranchRestFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenDEBranchRestIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenTellerFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenTellerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseTellerIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseTellerFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SingleAuthorizeFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SingleAuthorizeIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SingleDeleteFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SingleDeleteIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SingleNewFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SingleNewIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FCUBSDEService">
<port name="FCUBSDEServiceSEI" binding="tns:FCUBSDEServiceSEIBinding">
<soap:address location="https://keusvvcfig2.dtbank.net:9012/FCUBSDEService/FCUBSDEService"/>
</port>
</service>
</definitions>